body{
  margin-top: 30px;
   background-color: lightgreen;

}
header {
 display:flex;
 flex:wrap;
 flex-direction:column;
 position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.welcome-section{
  order:1;
  height:100vh;
}
.projects{
  order:2;
}
nav-bar{
   order:0;
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
  
}

@media only screen and (max-width: 600px) {
  .welcome-section {
    height:50vh;
  }
}